.types-of-qr-container {
    display: flex;
    flex-direction: row;
    width: calc(100% - 320px) !important;
    /* width: 100%; */
    background-color: var(--background-color);
    justify-content: center;
    scroll-behavior: smooth;
    @media (max-width: 600px) {
        width: 100% !important; 
        padding: 0px;  
      }
  
  
  } 
  .types-of-qr-container-select-iframe {
    display: flex;
    flex-direction: row;
    /* width: calc(100%) !important; */
    width: 100%;
    /* background-color: var(--background-color); */
    /* justify-content: center; */
    scroll-behavior: smooth;
    @media (max-width: 600px) {
        width: 100% !important; 
        padding: 0px;  
      }
  
  
  }   
  .types-of-qr-container-iframe {
    display: flex;
    flex-direction: row;
    /* width: calc(100%) !important; */
    width: calc(100% - 220px);
    /* background-color: var(--background-color); */
    justify-content: center;
    scroll-behavior: smooth;
    @media (max-width: 600px) {
        width: 100% !important; 
        padding: 0px;  
      }
  
  
  }  
  .container-custom-mobile {
    padding: 30px 10px !important;
    overflow-y: scroll;
    scroll-behavior: smooth;
    /* height: 100vh; */
    width: 100%;
  
  
  }
  .container-custom {
    width: 100% !important;
    padding: 30px !important;
    overflow-y: scroll;
    scroll-behavior: smooth;
    /* height: 100vh; */
  
    @media (max-width: 600px) {
      width: 100% !important;
      padding: 10px !important;
  
    }
  }
  .container-custom-iframe {
    /* width: 100% !important; */
    padding: 20px 10px 20px 20px!important;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: calc(100% - 250px);
    background-color: #EFF7FB;
    
    /* height: 100vh; */
  
    @media (max-width: 600px) {
      width: 100% !important;
      padding: 10px !important;
  
    }
  }
  .container-custom-second-screen-iframe {
    width: 100% !important;
    padding: 20px 10px 20px 20px!important;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: #EFF7FB;
    /* width: calc(100% - 180px); */
    /* height: 100vh; */
  
    @media (max-width: 600px) {
      width: 100% !important;
      padding: 10px !important;
  
    }
  }
  .heading-tag {
    margin-bottom: 10px;
    background-color: var(--darkgreen-color);
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: 10px;
    color: white;
  
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
     @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 5px;
  
    }
  }
  .grid-container-iframe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
     @media (max-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5px;
  
    }
  }
  .static-qr-tabs {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    padding: 6px;
    position: relative;
    height: 60px;
    
    align-items: center;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 0px 6px 0 rgba(205, 209, 224, 1);
    background-color: var(--white-color);
    transition: all 0.25s ease-in-out;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  .static-qr-tabs-iframe {
    display: flex;
    flex-direction: row;
    padding: 6px;
    position: relative;
    height: 40px;
    align-items: center;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 0px 6px 0 rgba(205, 209, 224, 1);
    background-color: var(--white-color);
    transition: all 0.25s ease-in-out;
    border-radius: 8px;
    margin-bottom: 10px;
    /* Added for the hover effect */
    overflow: hidden; /* Ensures the gradient doesn't overflow the border radius */
    background: var(--white-color); /* Default background */
}

.static-qr-tabs-iframe:hover {
  border-color: var(--darkgreen-color);
  /* Adjust the gradient to include the blush color and ensure it slides */
  /* background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, #A1A0E1 100%); */
  background-size: 200% 100%; /* Size of the gradient background */
  animation: slideLightning 1.5s ease forwards; /* Adjusted for smooth sliding */
  /* color: white; */
}

@keyframes slideLightning {
  from {
      background-position: 100% 0; /* Start from the left */
  }
  to {
      background-position: -100% 0; /* Slide to the right */
  }
}


  .static-qr-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    padding: 3px;
    background-color: var(--background-color);
    margin-right: 20px;
    border-radius: 8px;
  }
  .static-qr-icons-iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 34px;
    padding: 3px;
    background-color: var(--background-color);
    margin-right: 20px;
    border-radius: 8px;
  }
  .static-qr-icons-iframe img{
    max-width: 100%;
    max-height: 100%;
  }
  .static-qr-icons img{
    max-width: 100%;
    max-height: 100%;
  }
  .static-qr-tabs:hover {
    border-color: var(--darkgreen-color);
    
  }
  
  .selected {
    border-color: var(--darkgreen-color);
  }
  .free-tag {
    position: absolute;
    top:-3px;
    right: -3px;
    background-color: green;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 1px 3px;
    color: white;
    font-size: .9rem;
  }
  .paid-tag {
    position: absolute;
    top:-2px;
    right: -1px;
    height: 25px;
    width:25px;
    /* background-color: var(--darkgreen-color); */
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 1px 3px;
    color: white;
    font-size: .7rem;
  }
  
  .demo-container {
    position: relative;
    display: flex;
    /* top: 20px; */
    right: 0;
    /* z-index: 100; */
  
    @media (max-width: 600px) {
      position: relative;
      width: 100%;
      top: auto;
      right: auto;
  
    }
  }
  .types-of-qr-mobile-demo {
    height: 100%;
    margin-top: 30px;
    position: fixed;
    background-color: var(--background-color);
  
    @media (max-width: 600px) {
      margin-top: auto !important;
      height: 100%;
  
  
    }
  }
  .types-of-qr-mobile-demo-iframe {
    height: 100%;
    /* margin-top: 10px; */
    position: fixed;
    right:0px;
    background-color: #EFF7FB;
  
    @media (max-width: 600px) {
      margin-top: auto !important;
      height: 100%;
  
  
    }
  }
  .mobile-frame {
    position: relative;
     width: 320px;
  
    @media (max-width: 600px) {
      width: auto;
  
    }
  }
  .mobile-frame-iframe {
    position: relative;
     /* width: 320px; */
  
    @media (max-width: 600px) {
      width: auto;
  
    }
  }
  .demo-preview {
    opacity: 1;
    margin: 10px;
   }
 @media (max-width: 600px) {
    .mobile-mr-t-20{
        margin-top: 20px;
    }
  }
   
  .commingsoon {
    position: absolute;
    z-index: 100;
    background-color: rgba(89, 86, 214, .7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    color: white;
  }
  
  .static-qr-tabs:hover .commingsoon {
    visibility: visible;
    opacity: 1;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;

  }
  
  