.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    padding:7px;
    border: 1px solid lightgray;
    border-radius: 5px;
    /* width: 36px; */
}
.icon-container:hover {
    border: 1px solid var(--darkgreen-color);
    border-radius: 5px;
    /* width: 36px; */
}
.icon-container img {
    height: 100%;
    width: auto;
}