.option-container-home {
    box-shadow: 0 0px 6px 0 rgba(205, 209, 224, 1);
    border-radius: 10px;
    background-color: white;
    padding:20px !important
    
  }

  .input {
    height: 40px;
  }

